.home-page {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  flex-direction: column;

  justify-content: space-evenly;
}

.home-section {
  width: 100%;
  text-align: center;
}

.home-section h3 {
  margin-bottom: 0em;
}

.home-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.home-login_bubble {
  height: 100%;
  width: 45%;
  margin: 10px 20px;
  padding: 10px;
  background-color: var(--accent1);
  border-radius: 10px;
  color: var(--principal-color)
}

.home-login_bubble:hover {
  background-color: var(--principal-color);
  color: var(--accent1);
}

.home-login_button {
  text-align: center;
}

.home-login_icon {
  width: 50px;
  height: 50px;
}

.home-login_socials {
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-login_socials a {
  width: 100%;
}

.home-login_socials li {
  width: 20%;
}

.home-login_social_icon {
  color: var(--anchor-color);
  width: 50px;
  height: 50px;
}

.home-login_social_icon:hover {
  color: var(--principal-color);
}

.landing-searchbar {
  width: 40%;
}

.landing-searchbar input {
  border-radius: 5px 0px 0px 5px;
}

.landing-searchbar button {
  border-radius: 0px 5px 5px 0px;
  padding: 5px 10px;
}

.landing-intro {
  width: 50%;
}