.landing-intro h1 { 
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: bigger;
}

.landing-course-catalog {
    margin-bottom: 25px;
}

.landing-course-catalog h3 {
    margin-bottom: 0px;
    font-weight: bolder;
}

.landing-course-catalog h6 {
    font-weight: bold;
    opacity: 0.65;
}

.carousel {
    width: 95%;
}

.carousel-control-prev {
    margin-left: -90px;
}

.carousel-control-next {
    margin-right: -90px;
}

.carousel-indicators {
    margin-bottom: 0px;
}