.login-page {
  flex-wrap: wrap;
  flex-direction: column;
}

.login_bubble {
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: var(--accent1);
  border-radius: 10px;
  color: var(--principal-color)
}

.login_bubble:hover {
  background-color: var(--principal-color);
  color: var(--accent1);
}